/* COLOUR | THEMES */

[data-theme="medium"] {
  --clr-section-text: var(--clr-primary-03);
  --clr-section-bg: var(--clr-secondary-01);
  --clr-card-text: var(--clr-primary-03);
  --clr-card-bg: var(--clr-secondary-02);
}

[data-theme="dark"] {
  --clr-section-text: var(--clr-secondary-02);
  --clr-section-bg: var(--clr-primary-03);
  --clr-card-text: var(--clr-primary-03);
  --clr-card-bg: var(--clr-secondary-02);
}

[data-theme="pop"] {
  --clr-section-text: var(--clr-primary-03);
  --clr-section-bg: oklch(84.54% 0.159 85.3);
  --clr-card-text: var(--clr-primary-03);
  --clr-card-bg: none;
}

/* GLOBAL STYLES */

body {
  /* LAYOUT */
  display: grid;
  grid-template-columns:
    [full-bleed-start] var(--margin-width)
    [main] var(--content-width)
    var(--margin-width) [full-bleed-end];
  grid-template-rows: [header] auto [main] 1fr [footer] auto;
  min-height: 100svh;

  > * {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full-bleed;

    > * {
      grid-column: main;
      place-self: start;
    }

    .full-bleed {
      grid-column: full-bleed;
    }
  }

  /* COLOUR */
  color: var(--clr-section-text);
  background: var(--clr-section-bg);
  /* FONT */
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
