---

import Image from "astro/components/Image.astro"
import Tagline from "../Tagline.astro"

import businessHelp from "../../assets/images/businesshelp.png"

---

<section>
    <figure>
        <Image src={businessHelp} alt="Professionals help each other." />
    </figure>
    <Tagline>We'll work with you</Tagline>
    <article>
        <h2 class="heading-2">What To Expect</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <ul role="list" class="checklist flow-space">
            <li>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day.</li>
            <li>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test override the digital.</li>
        </ul>
    </article>
</section>

<style>
    section {
        grid-column: main;
        padding: var(--space-3xl) 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 var(--space-m);
        color: var(--clr-section-text);

        > * {
            grid-column: 2;
        }

        figure {
            grid-column: 1;
            grid-row: 1 / 3;
            position: relative;
            border-radius: var(--crn-img);

            img {margin-block-start: 4rem; border-radius: inherit;}

            &::before {
                --square-count: 15;
                --square-size: 1.34rem;
                
                --_square-size: var(--square-size, 1rem);
                --_square-half: calc(var(--square-size) / 2);
                --_square-sum: calc(var(--square-count) * var(--square-size));
                content: "";
                z-index: -2;
                position: absolute;
                inset: auto auto auto -5rem;
                inline-size: calc( round( var(--_square-sum), var(--_square-size) ) - var(--_square-half) );
                aspect-ratio: 1;
                background: linear-gradient(135deg, #BE965D, #976F40, #C99B61, #F0BE7B , #FFCB85, #EEBC79, #C0935B, #976F40) 0 0 / 100% 100%;
                mask:
                var(--square-pattern) 0 0 / var(--_square-size) var(--_square-size),
                var(--square-pattern) var(--_square-half) var(--_square-half) / var(--_square-size) var(--_square-size);
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                width: var(--space-3xl);
                aspect-ratio: 1 / 1;
                top:  2rem;
                left: -2rem;
                background-color: var(--clr-primary-02);
                border-radius: inherit;
                z-index: -1;
            }
        }

        

        ul.checklist {
            margin-block: var(--space-m);

            li {
                display: flex;
                gap: var(--space-xs);

                &::before {
                content: url("../../icons/tick.svg");
            } 
            }
                
    }
    }

    

</style>