---

import { Icon } from 'astro-icon/components'
import Card from "../Card.astro";
import SectionHeader from '../SectionHeader.astro';

const content = await fetch("https://raw.githubusercontent.com/SSSoto17/frontend-design/main/resources/json/projections.json")
    .then(res=>res.json());

const header = {
    icon: "financial-projections",
    title: "Financial Projections",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
    nav: [
        "arrow-left",
        "arrow-right"]
}

---

<section data-theme="medium">
    <SectionHeader data={header} />
    <ul role="list" class="full-bleed">
        {content.values.map(card => {
            return <li><a href={card.link.url}><Card data={card} /></a></li>
        })}
    </ul>
</section>

<style>
    section {
        ul {
            display: flex;
            gap: var(--space-s);
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            padding-inline: max(1rem, 50svw - 75rem / 2);
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            
            &::-webkit-scrollbar {
                display: none; /* for Chrome, Safari, and Opera */
            }
            
            li {
                scroll-snap-align: center;
                flex: 1 0 min(400px, 90%);
                align-self: start;

                &:hover {
                    --clr-card-bg: var(--clr-primary-03);
                    --clr-card-text: var(--clr-secondary-02);
                    --clr-card-heading: var(--clr-card-text);
                    --clr-icon: var(--clr-primary-01);
                }
            }
        }
    }
</style>
