---

import { Icon } from 'astro-icon/components'
import Card from "../Card.astro";

const content = await fetch("https://raw.githubusercontent.com/SSSoto17/frontend-design/main/resources/json/projections.json")
    .then(res=>res.json());

---

<section data-theme="medium">
    <header class="flow-space">
        <Icon name="fp/header" />
        <h2 class="heading-2">{content.title}</h2>
        <p>{content.subtitle}</p>
        <nav>
            <Icon name="fp/arrow-left" /> 
            <Icon name="fp/arrow-right" />
        </nav>        
    </header>
    <ul role="list" class="full-bleed">
        {content.values.map(card => {
            return <li><a href={card.link.url}><Card data={card} /></a></li>
        })}
    </ul>
</section>

<style>
    section {
            header {
            --flow-space: var(--step-0);            
            margin-block-end: var(--space-l);

            svg, h2, p {
                grid-column: 1 / -2;
            }
            p, nav {
                grid-row: 3;
            }
            nav {
                grid-column: 2;                
                display: flex;
                gap: var(--space-xs);
                margin-block-start: var(--space-s);

                > * {
                    cursor: pointer;
                    transition: .15s ease-in;
                    &:hover {
                        scale: 1.1;
                    }
                }
            }

            > [data-icon] {
                width: var(--space-xl);
            }

            @media (600px < width) {
                display: grid;
                grid-template-columns: 1fr auto;
                grid-template-rows: repeat(3, auto);
                gap: 0 var(--space-s);
            }
        }

        ul {
            display: flex;
            gap: var(--space-s);
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            padding-inline: max(1rem, 50svw - 75rem / 2);
            -ms-overflow-style: none; /* for Internet Explorer, Edge */
            scrollbar-width: none; /* for Firefox */
            
            &::-webkit-scrollbar {
                display: none; /* for Chrome, Safari, and Opera */
            }
            
            li {
                scroll-snap-align: center;
                flex-basis: min(400px, 90%);
                flex-shrink: 0;
                align-self: start;

                &:hover {
                    --clr-card-bg: var(--clr-primary-03);
                    --clr-card-text: var(--clr-secondary-02);
                    --clr-card-heading: var(--clr-card-text);
                    --clr-icon: var(--clr-primary-01);
                }
            }
        }
    }
    [data-icon] {
        width: var(--space-l);
    }
</style>
