---

const {form, popup, label, variant} = Astro.props

---

<button data-theme={variant} form={form} popovertarget={popup}>
    {label}
</button>


<style>

    button {
        color: var(--clr-btn-label);
        background: var(--clr-btn-bg);
        border-radius: var(--crn-btn);
        font-size: var(--step-1);
        font-weight: 600;
        line-height: 160%; /* 1.8rem */
        padding: var(--space-2xs) var(--space-s);
        border: 2px solid var(--clr-btn-border);        
    }

    [data-theme="primary"] {
        --clr-btn-bg: var(--clr-primary-03);
        --clr-btn-label: var(--clr-secondary-02);
        --clr-btn-border: var(--clr-primary-03);
        &:hover {
            --clr-btn-bg: var(--clr-secondary-02);
            --clr-btn-label: var(--clr-primary-03);
        }
    }

    [data-theme="secondary"] {
        --clr-btn-bg: var(--clr-primary-01);
        --clr-btn-label: var(--clr-primary-03);

        &:hover {
            --clr-btn-bg: var(--clr-primary-03);
            --clr-btn-label: var(--clr-secondary-02);
        }
    }

    [data-theme="tertiary"] {
        --clr-btn-bg: var(--clr-secondary-02);
        --clr-btn-label: var(--clr-primary-03);

        &:hover {
            --clr-btn-bg: var(--clr-primary-03);
            --clr-btn-label: var(--clr-secondary-02);
        }
    }

    [data-theme="nav"] {
        --clr-btn-bg: var(--clr-primary-01);
        --clr-btn-label: var(--clr-primary-03);
        --crn-btn: 1.25rem;
        font-size: clamp(0.875rem, 0.788rem + 0.4348vw, 1.108rem);
        font-weight: 400;
        padding: var(--space-4xs) var(--space-2xs);

        &:hover {
            --clr-btn-bg: var(--clr-secondary-02);
        }
    }

</style>