---

import Button from "./Button.astro"
import Popover from "./Popover.astro"

const {Theme} = Astro.props

---

<header data-theme={Theme}>
    <nav class="desktop">
        <p class="heading-5">AskExperts</p>
        <ul role="list" class="active">
            <li><a href="/">Home</a></li>
            <li><a href="">Case Study</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">About</a></li>
        </ul>
        <Button popup="login" label="Login" variant="secondary"/>
    </nav>
    <nav class="mobile">
        <p class="heading-5">AskExperts</p>
        <ul role="list">
            <li><a href="/">Home</a></li>
            <li><a href="">Case Study</a></li>
            <li><a href="">Team</a></li>
            <li><a href="">About</a></li>
            <li><Button popup="#login" label="Login" variant="secondary"/></li>
        </ul>
    </nav>
    <Popover />
</header>


<style>
    header {
        padding: var(--space-s);
        position: sticky;
        top: 0;
        z-index: 100;
    }

    nav.desktop {
        display: none;
    }

    nav {
        display: flex;
        place-self: stretch;
        align-items: flex-start;
        justify-content: space-between;

        p.heading-5 {
        line-height: 105%; /* 1.96875rem */
        }

        ul {
            display: none;
            a {
                text-decoration: none;
            }
        }

        ul.active {
            display: block;
        }
    }

    @media (900px < width) {

        nav.mobile {
            display: none;
        }

        nav.desktop {
            display: flex;

            ul.active {
            display: flex;
            gap: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
        }
        }      

    }

</style>