---

import Button from "../Button.astro"

---

<section class="hero full-bleed" data-theme="dark">
    <article>
        <h1 class="heading-1">Adam Buschemia Business Consultant</h1>
        <p>Get help from Alex Moore, a professional business coach with advanced experience on growth and business scaling.</p>
        <Button Label="Book a Meeting" />
    </article>    
</section>

<style>

	section.hero {
		display: grid;
		grid-template-columns: subgrid;
		height: 38rem;

		article {
			grid-column: main;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
</style>